[global]
logfile=/var/log/lbaas_arbor/mitigations.log
loglevel=DEBUG
arbor_api_key=APIKEY
arbor_api_url=http://arbor.rackspace.com

[DFW]
host=mysql-n01.dfw1.lbaas.rackspace.net
port=3306
user=user
pass=pass
database=loadbalancing

[ORD]
host=mysql-n01.ord1.lbaas.rackspace.net
port=3306
user=user
pass=pass
database=loadbalancing
